# Build folder
/target/

# Logs
*.log

# IDE files
/.idea/
/*.iml
.vscode/
*.apk

# OS files
.DS_Store
Thumbs.db

# Large or generated folders
HELP.md
uploads/
shippinggo_desktop/
shippinggo_mobile/
nginx/