<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="${#locale.language == 'ar' ? 'rtl' : 'ltr'}"
    xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layouts/main :: head}"></head>

<body>
    <th:block th:replace="~{layouts/main :: *}">
        <th:block th:fragment="content">
            <div th:replace="~{layouts/main}">
                <th:block th:fragment="content">
                </th:block>
            </div>
        </th:block>
    </th:block>
</body>

</html>
